@import "tailwindcss";

html.light {
  --bg-color: #d0d0d0;
  --brown: #a0522d;
  --orange: #ffa500;
  --yellow: #ffff00;
}

html.dark {
  --bg-color: #0d0d0d;
  --brown: #8b4513;
  --orange: #ff8c00;
  --yellow: #ffd902;
}

body {
  background-color: var(--bg-color);
  color: var(--brown);
  transition:
    background-color 0.3s,
    color 0.3s;
}
